{% extends "admin/basic.html" %}
{% block body %}
    <form action="/admin/column/add" method="post">
        <div class="input-group">
            <span class="input-group-addon">添加新栏目到 {{title}}</span>
            <input type="text" class="form-control" name="title" placeholder="栏目名">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">添加</button>
            </span>
        </div>
    </form>
    <table class="table table-bordered table-hover table-striped">
        <h3>管理 {{title}} 的子栏目</h3>
        <thead>
            <tr>
                <th width="10%">ID</th>
                <th width="40%">栏目名</th>
                <th width="50%">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for column in columns %}
            <tr>
                <td>{{ column.id }}</td>
                <td>{{ column.title }}</td>
                <td>
                    <a class="table-operation" href="/admin/column/{{ column.id }}">查看子栏目</a>
                    <a class="table-operation" href="/admin/column/{{ column.id }}/up">上移</a>
                    <a class="table-operation" href="/admin/column/{{ column.id }}/down">下移</a>
                    <a class="table-operation" href="/admin/column/del/{{ column.id }}" onclick="return confirm_delete('是否删除{{ column.title }}?')">删除栏目</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3" align="center">未查询到任何栏目</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
