<!DOCTYPE html>
<html>
    <head>
        <title>深圳大学-党委宣传部</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href='{{ url_for("static", filename="css/css.css") }}' rel="stylesheet" type="text/css" />
        <script type="text/javascript" src='{{ url_for("static", filename="js/jquery-1.7.2.min.js") }}'></script>
        <script type="text/javascript" src='{{ url_for("static", filename="js/jquery.KinSlideshow-1.2.1.min.js") }}'></script>
        <script type="text/javascript" src='{{ url_for("static", filename="js/datePick.js") }}'></script>
    </head>
    <script type="text/javascript">
    $(function(){
        //幻灯片 （插件）
        $("#slider").KinSlideshow({
            titleBar:{titleBar_height:18,titleBar_bgColor:"#8C0A41",titleBar_alpha:0.5},
            titleFont:{TitleFont_size:12,TitleFont_color:"#FFFFFF",TitleFont_weight:"normal"},
            btn:{btn_bgColor:"#FFFFFF",btn_bgHoverColor:"#1072aa",btn_fontColor:"#000000",
            btn_fontHoverColor:"#FFFFFF",btn_borderColor:"#cccccc",
            btn_borderHoverColor:"#1188c0",btn_borderWidth:0}
        });
    });
    </script>
    <body>
        <div id="header">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="364" height="73" align="left" valign="top" style="background-color:#8C0A41; background-image:url({{ url_for('static', filename='images/rounded-orange.gif') }}); background-position:bottom left; background-repeat:no-repeat;">
                        <img src="{{ url_for('static', filename='images/top2.jpg') }}" />
                    </td>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <img width="344px" height="65px" src="{{ url_for('static', filename='images/logo.jpg') }}" />
                                </td>
                                <form method="get" name="myform" action="http://keylands.com/xcb/typeSearch.asp">
                                    <td valign="middle" align="right">
                                        <!--<select name="type" style="margin:0">
                                            <option value="按标题">按标题</option>
                                            <option value="按内容">按内容</option>
                                        </select>
                                        <input type="text" name="word" size="12">
                                        <input type="submit" name="Submit" value="搜索">-->
                                    </td>
                                </form>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div id="bodyer">
            {% block bodyer %}{% endblock %}
        </div>
        <div id="footer">
            <table width="100%"  border="0" cellspacing="0" cellpadding="0"  style="border-top: 1px solid #fff ">
                <tr>
                    <td valign="top" style="height:10px "></td>
                </tr>
                <tr>
                    <td valign="top" style="background:#bbb; height:1px "></td>
                </tr>
                <tr>
                    <td align="right" valign="middle" class="text1" style="border-top:1px solid #fff; height:41px; padding:0px 12px 0px 12px; font-size:9pt; color:#666;">2012 深圳大学-党委宣传部 | <span class="f">深圳大学办公楼413室</span> | 电话：0755-26536197 | <span class="f">Email:xcb@szu.edu.cn</span>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
