{% extends "basic.html" %}
{% block bodyer %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="left" width="145" valign="top"></td>
            <td style="padding:10px 0 3px 12px; font-size:9pt; background-position:top right; background-repeat:no-repeat; background-color:#A08359"></td>
        </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
       <tr>
            <td width="145" valign="top">
                <div id="navalpha">
                {% include 'menu.html' %}
                </div>
            </td>
            <td style="padding:10px 0 3px 12px; font-size:9pt;" valign="top">
                <h2>网上投稿</h2>
                <hr/>
                <p>请将稿件发送到以下邮箱</p>
            </td>
        </tr>
    </table>
{% endblock %}
