{% extends "basic.html" %}
{% block bodyer %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="left" width="364" valign="top"></td>
        <td style="padding:10px 0 3px 12px; font-size:9pt; background-position:top right; background-repeat:no-repeat; background-color:#8C0A41"></td>
    </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
   <tr>
       <td width="145" valign="top" title="364">
            <div id="navalpha"> 
                {% include 'menu.html' %}
            </div>
        </td>
        <td width="15"></td>
        <td width="189" valign="top">
            <div id="home">
            <h2>
                <a href="#"><span>校园新闻</span></a>
            </h2>
            <ul>
                <li>
                    <a href="typed33d.html?cID=658" title="我校大学生志愿者积极参加市节水宣传活动">我校大学生志愿者积极参加市节水宣传活动</a>
                </li>
                <li>
                    <a href="typefa0b.html?cID=657" title="李清泉校长与我校共青团干部座谈">                李清泉校长与我校共青团干部座谈</a>
                </li>
                <li>
                    <a href="type4079.html?cID=656" title="深大义工联合会换届暨志愿者工作中心揭牌仪式举行">深大义工联合会换届暨志愿者工作中心揭牌仪式举行</a>
                </li>
                <li>
                    <a href="typeaf28.html?cID=655" title="管理学院读书月开幕 李清泉与学子畅谈深大发展">管理学院读书月开幕 李清泉与学子畅谈深大发展</a>
                </li>
                <li>
                    <a href="type.asp?cID=654" title="校领导会见澳大利亚麦考理大学代表">校领导会见澳大利亚麦考理大学代表</a>
                </li>
                <!--<li class="more"><a href="type.asp?typeid=14&bigclassid=131&showType=%C1%D0%B1%ED">更多…</a>
                </li>-->
            </ul>
            <h2>
                <a href="#"><span>院系动态</span></a>
            </h2>
            <ul>            
                <li>
                    <a href="type6a1f.html?cID=636" title="山西原平发生盗采煤矿案 5人窒息死亡">山西原平发生盗采煤矿案 5人窒息死亡</a>
                </li>
                <li>
                    <a href="type1eb4.html?cID=635" title="欧盟对中国输欧光面纸发起反倾销调查">欧盟对中国输欧光面纸发起反倾销调查</a>
                </li>
                <li>
                    <a href="typeb463.html?cID=634" title="欧盟对中国输欧光面纸发起反倾销调查">欧盟对中国输欧光面纸发起反倾销调查</a>
                </li>
                <li>
                    <a href="type0f70.html?cID=633" title="美报称谷歌遭攻击源自中国两学校 校方否认">美报称谷歌遭攻击源自中国两学校 校方否认</a>
                </li>
                <!--<li class="more"><a href="type.asp?typeid=14&bigclassid=131&showType=%C1%D0%B1%ED">更多…</a></li>-->
            </ul>
        </td>
        <td width="15"></td>
        <td valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <div id="slider" style="visibility:hidden;">
                        <a href="http://www.szu.edu.cn/board/view.asp?id=250736" target="_blank" class="index-pic-a">
                            <img src="{{ url_for('static', filename='tmp/112311656.gif') }}" width="596px" height="300px" alt="李清泉校长会见都柏林大学代表团" />
                        </a>
                        <a href="http://www.szu.edu.cn/2013/news/2034.html" target="_blank" class="index-pic-a">
                            <img src="{{ url_for('static', filename='tmp/20121106125926323.jpg') }}" width="596px" height="300px" alt="两院院士李德仁开“深大讲坛”首讲——论智慧城市" />
                        </a>
                        <a href="http://www.szu.edu.cn/2013/news/2067.html" target="_blank" class="index-pic-a">
                            <img src="{{ url_for('static', filename='tmp/20121120164850718.jpg') }}" width="596px" height="300px" alt="校领导会见比利时布拉班特―瓦隆省省长一行" />
                        </a>
                        <a href="http://www.szu.edu.cn/2013/news/2038.html" target="_blank" class="index-pic-a">
                            <img src="{{ url_for('static', filename='tmp/20121107091752916.jpg') }}" width="596px" height="300px" alt="校领导与学生共同开启图书漂流仪式" />
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding:6px 0 3px 12px; font-size:9pt; background: #8C0A41 url({{ url_for('static', filename='images/homealpha.gif') }}) no-repeat bottom; color:#fff;">
                </td>
            </tr>
            <tr>
                <td align="center" style="padding:5px 0">
                    <a href="http://www.szu.edu.cn/2013/news/" target="_blank">
                        <img src="{{ url_for('static', filename='images/logo-1.gif') }}" width="195" height="77" />
                    </a>
                    <a href="http://www1.szu.edu.cn/newspaper/main.asp" target="_blank">
                        <img src="{{ url_for('static', filename='images/logo-2.gif') }}" width="195" height="77" />
                    </a>
                    <a href="http://gbz.szu.edu.cn/" target="_blank">
                        <img src="{{ url_for('static', filename='images/logo-3.gif') }}" width="195" height="77" />
                    </a>
                </td>
            </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}