<ul>
    <li>
        <a class="{{ index }}" href="/">网站首页</a>
    </li>
    {% for column in get_menu() %}
    <li>
        <a class="{{ id }}" href="/column/{{ column.id }}">{{ column.title }}</a>
    </li>
    {% endfor %}
    <li>
        <a class="{{ office }}" href="/office">网上办公</a>
        <ul id="none">
            <li class="normal">
                <a class="{{ report_outter }}" href="/apply/report_outter">校外新闻报道申请</a>
            </li>
            <li class="normal">
                <a class="{{ report_inner }}" href="/apply/report_inner">校内新闻报道申请</a>
            </li>
            <li class="normal">
                <a class="{{ propaganda }}" href="/apply/propaganda">宣传品审批</a>
            </li>
            <li class="normal">
                <a class="{{ contribute }}" href="/apply/contribute">网上投稿</a>
            </li>
        </ul>
    </li>
</ul>