<ul>
    <li>
        <a class="{{ index }}" href="/">网站首页</a>
    </li>
    <li>
        <a class="{{ theory }}" href="/theory">理论学习</a>
    </li>
    <li>
        <a class="{{ campus_news }}" href="/campus_news">校园新闻</a>
    </li>
    <li>
        <a class="{{ college_news }}" href="/college_news">院系动态</a>
    </li>
    <li>
        <a class="{{ institutions }}" href="/institutions">机构设置</a>
    </li>
    <li>
        <a class="{{ media }}" href="/media">媒体深大</a>
    </li>
    <li>
        <a class="{{ newspaper }}" href="/newspaper">《深圳大学报》</a>
    </li>
    <li>
        <a class="{{ broadcast }}" href="/broadcast">深圳大学广播站</a>
    </li>
    <li>
        <a class="{{ view }}" href="/view">深大风光</a>
    </li>
    <li>
        <a class="{{ links }}" href="/links">友情连接</a></li>
    <li>
        <a class="{{ office }}" href="/office">网上办公</a>
        <ul id="none">
            <li class="normal">
                <a class="{{ report_outter }}" href="/apply/report_outter">校外新闻报道申请</a>
            </li>
            <li class="normal">
                <a class="{{ report_inner }}" href="/apply/report_inner">校内新闻报道申请</a>
            </li>
            <li class="normal">
                <a class="{{ propaganda }}" href="/apply/propaganda">宣传品审批</a>
            </li>
            <li class="normal">
                <a class="{{ contribute }}" href="/apply/contribute">网上投稿</a>
            </li>
        </ul>
    </li>
</ul>